/* selectors
 Direct tag 
tag name{}
Class 
.classname{}
id
#idname{}

h1,h2,h3{}
.classname1, .classname2{}
*/

/* How to write a property
selct{
property name: property value;

}


*/

.text {
    border: 2px solid red;
    /* border-style: dotted double ;
    border-width: 5px; */
    color: red;
    background-color: yellow;
    text-align: left;
    /* text-align-last: left; */
    border-radius: 20px;
    /* outline: 5px solid green; */
    outline-offset: 50px;

}



.widthHeight {
    border: 2px solid;
    max-width: 500px;
    min-width: 200px;
    min-height: 200px;
    max-height: 400px;
}

#img1 {

    /* opacity: 0.4; */
    filter: blur(0.5px);
    filter: brightness(150%);



}

#img1:hover {
    opacity: 0.4;

}








.p1 {
    font-size: 32px;
    direction: ltr;
    unicode-bidi: bidi-override;
    text-transform: uppercase;
    text-indent: 50px;
    letter-spacing: 2px;
    line-height: 1;
    word-spacing: 10px;
    white-space: normal;
    text-shadow: 5px 2px 0.2px green;
}

.price {
    /* text-decoration-line : overline ;
    text-decoration-color: green;
    text-decoration-style: dashed ; */
    text-decoration: underline purple solid 1px;




}


.margin {
    opacity: 0.5;
    outline: 5px solid green;
    outline-offset: 100px;
    border: 2px solid;
    width: 200px;
    /* margin-top: 50px;
margin-right: 40px;
margin-left: 40px;
margin-bottom: 40px; */

    margin: 100px 50px 34px 45px;
    /* above is for top , right , bottom and left */
    margin: 100px 45px;
    /* above is for top and bottom, left and right */
    margin: 50px auto;
    /* above is for top and bottom left and right */

    padding: 20px;








}







h2 {


    /* 
font-family: 'Dancing Script', cursive;

*/




    /* 
    font-family: 'Dancing Script', cursive;   
     font-style: oblique;
    font-weight: 900;
    font-variant: small-caps; */
    /* font-size: 15vw; */

    /* font: italic bold 32px 'Dancing Script', cursive; */









    /* color: rgb(10, 50, 40); */
    /* background-image: url(../HTML/assets/flower.jpg);
    background-repeat: no-repeat;
    background-position:  top right ;
    background-attachment: fixed; */
    /* background: red url(../HTML/assets/flower.jpg) no-repeat bottom left scroll; */

}

h2 {
    /* background-color: red;  */
    font-family: 'Poppins', sans-serif;

}